<ng-container *ngIf="products">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-11 md:px-32 mt-12">
    <div class="bg-white shadow-md rounded-lg overflow-hidden transform transition duration-500 ease-in-out border-2 border-transparent hover:bg-gray-200 hover:border-black"
         *ngFor="let product of products; let i = index" (mouseover)="onMouseOver(i)" (mouseout)="onMouseOut()">
      <img class="w-full h-48 object-cover object-center" src="{{ product.image }}" alt="{{ product.name }}">
      <div class="p-4">
        <h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white mb-2" [ngClass]="{'underline': hoveredIndex === i}">{{ product.name }}</h5>
        <p class="text-gray-700 mb-2">{{ product.description }}</p>
        <h6 class="font-bold text-lg">{{ product.price }}</h6>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!products">
  <h2>No hay producto</h2>
</ng-container>
<div class="flex items-center justify-center mt-2">
  <div class="flex space-x-1 border border-gray-300 rounded">
    <button (click)="previousPage()" [disabled]="page === 0" [ngClass]="{'hover:bg-gray-200 hover:shadow-md': page !== 0}" class="disabled:opacity-50 bg-white text-black font-bold py-1 px-2 sm:py-2 sm:px-4 rounded">
      Anterior
    </button>
    <div class="flex space-x-1" *ngFor="let i of [].constructor(endPage - startPage); let pageIndex = index">
      <button (click)="goToPage(startPage + pageIndex)" [disabled]="currentPage === startPage + pageIndex" [ngClass]="{'border border-black': currentPage === startPage + pageIndex, 'hover:bg-gray-200 hover:shadow-md': currentPage !== startPage + pageIndex}" class="bg-white text-black font-bold py-1 px-2 sm:py-2 sm:px-4 rounded">
        {{ startPage + pageIndex + 1 }}
      </button>
    </div>
    <button (click)="nextPage()" [disabled]="isLastPage" [ngClass]="{'hover:bg-gray-200 hover:shadow-md': !isLastPage}" class="disabled:opacity-50 bg-white text-black font-bold py-1 px-2 sm:py-2 sm:px-4 rounded">
      Siguiente
    </button>
  </div>
</div>
